<h1>Certificate Generator Tool</h1>
<form method="post" action="/resize/uploads/excel" enctype="multipart/form-data">
    <input type="file" name="excel"/>
    <input type="submit" value="upload"/>
</form>
<form method="post" action="/" enctype="multipart/form-data">
    <input type="file" name="image"/>
    <input type="submit" value="upload"/>
</form>
